li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {


}

.nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before,
.navbar:after, .navbar:before, .clearfix:after {
  display: inline !important;
}

@media screen and (max-width: 768px) {
  .clearfix:after {
    display: block !important;
  }

}


